<h1>Membership Details</h1>

<p>
  <strong>User Name:</strong>
  <%= @membership.user.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @membership.user.email %>
</p>

<p>
  <strong>Organization Name:</strong>
  <%= @membership.organization.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @membership.role.capitalize %>
</p>

<%= link_to 'Edit Membership', edit_membership_path(@membership) %> |
<%= link_to 'Back to Memberships', memberships_path %>
